/**
 * Extra colour mappings fpr Moodle theme
 */
$color_nhsuk-dark-blue: #005eb8;

$btn-default-text: core.nhsuk-colour("black");
$btn-default-background: core.nhsuk-colour("white");

$btn-primary-text: core.nhsuk-colour("white");
$btn-primary-background: core.nhsuk-colour("green");
$btn-primary-border: core.nhsuk-colour("green");

$btn-secondary-text: core.nhsuk-colour("white");
$btn-secondary-background: core.nhsuk-colour("dark-blue");
$btn-secondary-border: core.nhsuk-colour("dark-blue");

$header-account-bg: #004b93;

